<!DOCTYPE html>
<html>


<style>
body{
		
		
		background-image:url("/static/images/image4.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		height: 100%;
		
	 
            } 
	.heading{
		position:absolute;
		font-size:3em;
		top:10%;
		left:30%;
		font-family:"Times New Roman", Times, serif;

	}
	.option{
		position:absolute;
		top:20%;
		left:40%;
		font-size: 1.5em;
	}
</style>

<body>
  <div class="heading">
  <strong>Enter 10 if you prefer the following</strong><br>
  <br>
</div>
<div class="option">
<form method="POST" action="">
  <input type="text" name="n1" value="0" pattern="[0]|[1][0]"> City<br>
  <input type="text" name="n2" value="0" pattern="[0]|[1][0]"> history<br>
  <input type="text" name="n3" value="0" pattern="[0]|[1][0]"> religious<br>
  <input type="text" name="n4" value="0" pattern="[0]|[1][0]"> Palace and Fort<br>
  <input type="text" name="n5" value="0" pattern="[0]|[1][0]"> parks and gardens<br>
  <input type="text" name="n6" value="0" pattern="[0]|[1][0]">Hills and Mountains<br>
  <input type="text" name="n7" value="0" pattern="[0]|[1][0]"> wildlife Sanctuary and reserve<br>
  <input type="text" name="n8" value="0" pattern="[0]|[1][0]"> Caves<br>
  <input type="text" name="n9" value="0" pattern="[0]|[1][0]"> Waterfall and Dam<br>
  <input type="text" name="n10" value="0" pattern="[0]|[1][0]"> Beache<br>
  <input type="text" name="n11" value="0" pattern="[0]|[1][0]"> Trekking<br>
  <input type="text" name="n12" value="0" pattern="[0]|[1][0]"> River<br>
  <input type="text" name="n13" value="0"pattern="[0]|[1][0]"> Forest<br>
  <br>
  <input type="Submit" value="Submit" >
</form>
</div>

</body>
</html>